In [4]:
import numpy as np

In [5]:
num = np.array([67,44,32,16,58,44,27])

In [6]:
import numpy as np

### MEAN

In [7]:
np.mean(num)

41.142857142857146

In [8]:
sum(num)/len(num)

41.142857142857146

### MEDIAN

In [9]:
np.sort(num)

array([16, 27, 32, 44, 44, 58, 67])

In [10]:
np.median(num)

44.0

In [11]:
import pandas as pd

In [12]:
gender = pd.Series(['M','M','F','M','F','M','M','F'])

In [13]:
gender.value_counts()

M    5
F    3
Name: count, dtype: int64

In [14]:
gender.mode()

0    M
dtype: object

In [15]:
ages = pd.Series([22,21,23,23,34,12])

In [16]:
ages.value_counts()

23    2
22    1
21    1
34    1
12    1
Name: count, dtype: int64

In [17]:
ages.mode()

0    23
dtype: int64

In [18]:
x = np.arange(1,91)

In [19]:
x.mean()

45.5

In [20]:
np.median(x)

45.5

### MID-RANGE

In [21]:
(max(num)+min(num)) / 2

41.5

### MEAN ABSOLUTE DEVIATION

In [22]:
np.mean(abs(num-num.mean()))

13.83673469387755

In [23]:
x = np.ones(10) +20

In [24]:
x

array([21., 21., 21., 21., 21., 21., 21., 21., 21., 21.])

In [25]:
np.mean(abs(x-x.mean()))

0.0

### VARIANCE

In [26]:
np.mean((num - num.mean()) ** 2)

269.265306122449

### STANDARD DEVIATION

In [27]:
num.std()

16.409305473494268

In [28]:
np.std(num)

16.409305473494268

In [29]:
import os

In [30]:
os.getcwd()

'C:\\Users\\Shubham'

In [31]:
df = pd.read_csv('imcc.csv')

In [32]:
df

,टाइमस्टँप,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,30/05/2023 14:26:35,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,30/05/2023 14:26:56,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,30/05/2023 14:27:27,2201125,Pratik,Sharad,Masalkar,NaN,8.31,Male,Badminton,Pune,2017
3,30/05/2023 14:27:43,2201154,Ranvir,Gajanan,Pawar,NaN,8.00,Male,chess,buldana,2014
4,30/05/2023 14:27:48,2201193,Siddhesh,Suresh,Uttekar,21.0,8.40,Male,cricket,Pune,2016
5,30/05/2023 14:28:03,2201115,Sairaj,Shirish,Lumpatki,20.0,8.71,Male,volleyball,Ahmednagar,2017
6,30/05/2023 14:28:03,2201110,Rahul,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,30/05/2023 14:28:06,2201124,Akash,Sambhaji,Markile,NaN,7.79,Male,Cricket,Latur,2016
8,30/05/2023 14:28:07,2201145,harsh,subhash,patidar,22.0,8.00,Male,volleyball,indore,2016
9,30/05/2023 14:28:08,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
10,30/05/2023 14:28:10,2201171,Prajwal,Pramod,Shendge,21.0,7.90,Male,Cricket,Miraj,2018
11,30/05/2023 14:28:10,2201121,tejas,Uttareshwar,mane,NaN,7.85,Male,Cricket,Baramati,2016
12,30/05/2023 14:28:11,2201159,Vaibhav,Kailas,Raut,NaN,7.00,Male,Table tennis,Beed,2016
13,30/05/2023 14:28:13,2201173,Gaurav,Mohan,Shimpi,22.0,8.90,Male,cricket,Shahada,2017
14,30/05/2023 14:28:15,2201182,sindura,singh,rathore,23.0,8.10,Female,cricket,muzzafarpur,2017
15,30/05/2023 14:28:15,2201130,Hitesh,Dnyaneshwar,Mohadikar,22.0,8.25,Male,Cricket,Nagpur,2017
16,30/05/2023 14:28:16,2201163,Janhavi,Ajit,Sangaonkar,NaN,8.75,Female,Badminton,Kolhapur,2017
17,30/05/2023 14:28:20,2201195,Raj,,Verma,23.0,7.71,Male,Cricket,Jamshedpur,2017
18,30/05/2023 14:28:25,2201187,Manish,Maruti,Teke,22.0,8.46,Male,Cricket,Pune,2016
19,30/05/2023 14:28:26,1951022,muskan,shabbir,shipai,21.0,8.05,Female,cricket,pune,2017
20,30/05/2023 14:28:28,2201164,Ashutosh,Ghansham,Saoji,23.0,7.54,Male,Cricket,Akola,2017
21,30/05/2023 14:28:29,2201133,VIVEK,YESHAVNT,MORE,21.0,7.60,Male,Table Tennis,Kolhapur,2017
22,30/05/2023 14:28:32,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,cricket,karad,2016
23,30/05/2023 14:28:38,2201190,Leena,Sanjay,Thorat,22.0,7.89,Female,Badminton,Shirdi,2017
24,30/05/2023 14:28:41,2201085,vedika,Gorakshanth,kandekar,22.0,8.89,Female,-,Ahmednagar,2017
25,30/05/2023 14:28:47,2201144,Atharva,Jayant,Paradkar,23.0,7.64,Male,Football,Pune,2016
26,30/05/2023 14:28:48,2201196,himanshi,,vyas,22.0,8.80,Female,cricket,indore,2017
27,30/05/2023 14:28:58,220126,Harshita,,Maurya,21.0,8.61,Female,Vollyball,Pune,2017
28,30/05/2023 14:28:59,2201146,Aditi,Pandurang,Patil,21.0,8.00,Female,Football,Ahmednagar,2017
29,30/05/2023 14:29:04,2201188,Akshata,vijay,thakre,NaN,75.00,Female,cricket,pune,2017
30,30/05/2023 14:29:03,2201141,Mahima,Lallan,Pal,22.0,7.68,Female,badminton,patna,2015
31,30/05/2023 14:29:06,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,badminton,pune,2017
32,30/05/2023 14:29:12,2201155,Manali,Prayag,Petare,21.0,7.90,Female,Football,Sangli,2017
33,30/05/2023 14:29:16,2201116,Ankita,Tanaji,Madane,NaN,7.00,Female,Cricket,karad,2017
34,30/05/2023 14:29:17,2201152,Yash,Rajgonda,Patil,21.0,7.21,Male,Cricket,Kolhapur,2017
35,30/05/2023 14:29:26,2201139,Apeksha,D,Nimje,21.0,8.00,Female,Basketball,Nagpur,2017
36,30/05/2023 14:29:34,2201206,Saurabh,Sanjay,Zute,NaN,7.50,Male,Cricket,Parbhani,2016
37,30/05/2023 14:29:43,2201200,Kshitij,Kishor,Wani,NaN,7.60,Male,Cricket,Nagpur,2015
38,30/05/2023 14:29:46,2201123,Sandesh,Sudhir,Manohar,22.0,7.54,Male,Football,Mumbai,2016
39,30/05/2023 14:29:59,2201158,Suyog,Bapurao,Raut,22.0,7.67,Male,cricket,pune,2017
40,30/05/2023 14:30:07,2201104,Prerna,Nitin,Kukade,21.0,7.40,Female,Badminton,Pune,2017
41,30/05/2023 14:30:15,220143,sakshi,santosh,patidar,22.0,10.00,Female,cricket,durg,2015
42,30/05/2023 14:30:17,2201205,Jyoti,.,Yadav,NaN,8.14,Female,Cricket,Alwar,2012
43,30/05/2023 14:30:20,2201117,NILESH,PRAKASH,MAHAJAN,22.0,7.56,Male,BADMINTON,WADGAON,2017
44,30/05/2023 14:30:26,2201166,Pranav,Pravin,Sarkale,21.0,7.96,Male,Carrom,Pune,2017
45,30/05/2023 14:30:32,2201167,Raj,Rajendra,kumar,22.0,9.60,Male,cricket,pune,2016
46,30/05/2023 14:30:39,2201157,Nikhil,Ashok,Rande,NaN,7.00,Male,Kabaddi,Akot,2016
47,30/05/2023 14:31:04,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,30/05/2023 14:31:14,2201194,shraddha,jaiprakash,varma,22.0,7.89,Female,badminton,wani,2017
49,30/05/2023 14:31:18,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,30/05/2023 14:31:47,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [33]:
df.shape

(51, 11)

In [34]:
list(df.columns)

['टाइमस्टँप',
 'roll_num',
 'name',
 'middlename',
 'surname',
 'age',
 'sgpa',
 'gender',
 'favorite_sport',
 'native_city',
 'year_of_passing_10th']

In [35]:
df.head(2)

,टाइमस्टँप,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,30/05/2023 14:26:35,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,30/05/2023 14:26:56,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014

In [36]:
df.sample(2)

,टाइमस्टँप,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
26,30/05/2023 14:28:48,2201196,himanshi,,vyas,22.0,8.8,Female,cricket,indore,2017
36,30/05/2023 14:29:34,2201206,Saurabh,Sanjay,Zute,NaN,7.5,Male,Cricket,Parbhani,2016

In [37]:
df.tail(2)

,टाइमस्टँप,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
49,30/05/2023 14:31:18,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,30/05/2023 14:31:47,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [38]:
df.dtypes

टाइमस्टँप                object
roll_num                  int64
name                     object
middlename               object
surname                  object
age                     float64
sgpa                    float64
gender                   object
favorite_sport           object
native_city              object
year_of_passing_10th      int64
dtype: object

## SLICING

In [83]:
x = df.iloc[2:9,3:8]

In [84]:
df.loc[:,['name','gender','sgpa']]

         name  gender   sgpa
0     Shubham    Male   8.29
1      Pranav    Male   7.80
2      Pratik    Male   8.31
3      Ranvir    Male   8.00
4    Siddhesh    Male   8.40
5      Sairaj    Male   8.71
6       Rahul    Male   7.50
7       Akash    Male   7.79
8       Harsh    Male   8.00
9       Omkar    Male   9.81
10    Prajwal    Male   7.90
11      Tejas    Male   7.85
12    Vaibhav    Male   7.00
13     Gaurav    Male   8.90
14    Sindura  Female   8.10
15     Hitesh    Male   8.25
16    Janhavi  Female   8.75
17        Raj    Male   7.71
18     Manish    Male   8.46
19     Muskan  Female   8.05
20   Ashutosh    Male   7.54
21      Vivek    Male   7.60
22   Sharvari  Female   7.82
23      Leena  Female   7.89
24     Vedika  Female   8.89
25    Atharva    Male   7.64
26   Himanshi  Female   8.80
27   Harshita  Female   8.61
28      Aditi  Female   8.00
29    Akshata  Female   7.50
30     Mahima  Female   7.68
31  Aishwarya  Female   9.10
32     Manali  Female   7.90
33     Ankita  Female   7.00
34       Yash    Male   7.21
35    Apeksha  Female   8.00
36    Saurabh    Male   7.50
37    Kshitij    Male   7.60
38    Sandesh    Male   7.54
39      Suyog    Male   7.67
40     Prerna  Female   7.40
41     Sakshi  Female  10.00
42      Jyoti  Female   8.14
43     Nilesh    Male   7.56
44     Pranav    Male   7.96
45        Raj    Male   9.60
46     Nikhil    Male   7.00
47  ‎ Shubham    Male   9.15
48   Shraddha  Female   7.89
49      Priya  Female   8.00
50    Swapnil    Male   7.28

In [85]:
df['name']

0       Shubham
1        Pranav
2        Pratik
3        Ranvir
4      Siddhesh
5        Sairaj
6         Rahul
7         Akash
8         Harsh
9         Omkar
10      Prajwal
11        Tejas
12      Vaibhav
13       Gaurav
14      Sindura
15       Hitesh
16      Janhavi
17          Raj
18       Manish
19       Muskan
20     Ashutosh
21        Vivek
22     Sharvari
23        Leena
24       Vedika
25      Atharva
26     Himanshi
27     Harshita
28        Aditi
29      Akshata
30       Mahima
31    Aishwarya
32       Manali
33       Ankita
34         Yash
35      Apeksha
36      Saurabh
37      Kshitij
38      Sandesh
39        Suyog
40       Prerna
41       Sakshi
42        Jyoti
43       Nilesh
44       Pranav
45          Raj
46       Nikhil
47    ‎ Shubham
48     Shraddha
49        Priya
50      Swapnil
Name: name, dtype: object

In [86]:
df[['name','surname']]

         name     surname
0     Shubham       Sinha
1      Pranav      Modale
2      Pratik    Masalkar
3      Ranvir       Pawar
4    Siddhesh     Uttekar
5      Sairaj    Lumpatki
6       Rahul       Kumar
7       Akash     Markile
8       Harsh     Patidar
9       Omkar    Kulkarni
10    Prajwal     Shendge
11      Tejas        Mane
12    Vaibhav        Raut
13     Gaurav      Shimpi
14    Sindura     Rathore
15     Hitesh   Mohadikar
16    Janhavi  Sangaonkar
17        Raj       Verma
18     Manish        Teke
19     Muskan      Shipai
20   Ashutosh       Saoji
21      Vivek        More
22   Sharvari      Shinde
23      Leena      Thorat
24     Vedika    Kandekar
25    Atharva    Paradkar
26   Himanshi        Vyas
27   Harshita      Maurya
28      Aditi       Patil
29    Akshata      Thakre
30     Mahima         Pal
31  Aishwarya    Lokhande
32     Manali      Petare
33     Ankita      Madane
34       Yash       Patil
35    Apeksha       Nimje
36    Saurabh        Zute
37    Kshitij        Wani
38    Sandesh     Manohar
39      Suyog        Raut
40     Prerna      Kukade
41     Sakshi     Patidar
42      Jyoti       Yadav
43     Nilesh     Mahajan
44     Pranav     Sarkale
45        Raj       Kumar
46     Nikhil       Rande
47  ‎ Shubham      ‎ Mali
48   Shraddha       Varma
49      Priya    Kulkarni
50    Swapnil    Kulkarni

In [87]:
df.drop(2)

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
3,2201154,Ranvir,Gajanan,Pawar,22.0,8.00,Male,Chess,Buldana,2014
4,2201193,Siddhesh,Suresh,Uttekar,21.0,8.40,Male,Cricket,Pune,2016
5,2201115,Sairaj,Shirish,Lumpatki,20.0,8.71,Male,Volleyball,Ahmednagar,2017
6,2201110,Rahul,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,2201124,Akash,Sambhaji,Markile,22.0,7.79,Male,Cricket,Latur,2016
8,2201145,Harsh,Subhash,Patidar,22.0,8.00,Male,Volleyball,Indore,2016
9,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
10,2201171,Prajwal,Pramod,Shendge,21.0,7.90,Male,Cricket,Miraj,2018
11,2201121,Tejas,Uttareshwar,Mane,22.0,7.85,Male,Cricket,Baramati,2016
12,2201159,Vaibhav,Kailas,Raut,22.0,7.00,Male,Table Tennis,Beed,2016
13,2201173,Gaurav,Mohan,Shimpi,22.0,8.90,Male,Cricket,Shahada,2017
14,2201182,Sindura,Singh,Rathore,23.0,8.10,Female,Cricket,Muzzafarpur,2017
15,2201130,Hitesh,Dnyaneshwar,Mohadikar,22.0,8.25,Male,Cricket,Nagpur,2017
16,2201163,Janhavi,Ajit,Sangaonkar,22.0,8.75,Female,Badminton,Kolhapur,2017
17,2201195,Raj,,Verma,23.0,7.71,Male,Cricket,Jamshedpur,2017
18,2201187,Manish,Maruti,Teke,22.0,8.46,Male,Cricket,Pune,2016
19,1951022,Muskan,Shabbir,Shipai,21.0,8.05,Female,Cricket,Pune,2017
20,2201164,Ashutosh,Ghansham,Saoji,23.0,7.54,Male,Cricket,Akola,2017
21,2201133,Vivek,Yeshavnt,More,21.0,7.60,Male,Table Tennis,Kolhapur,2017
22,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,Cricket,Karad,2016
23,2201190,Leena,Sanjay,Thorat,22.0,7.89,Female,Badminton,Shirdi,2017
24,2201085,Vedika,Gorakshanth,Kandekar,22.0,8.89,Female,-,Ahmednagar,2017
25,2201144,Atharva,Jayant,Paradkar,23.0,7.64,Male,Football,Pune,2016
26,2201196,Himanshi,,Vyas,22.0,8.80,Female,Cricket,Indore,2017
27,220126,Harshita,,Maurya,21.0,8.61,Female,Vollyball,Pune,2017
28,2201146,Aditi,Pandurang,Patil,21.0,8.00,Female,Football,Ahmednagar,2017
29,2201188,Akshata,Vijay,Thakre,22.0,7.50,Female,Cricket,Pune,2017
30,2201141,Mahima,Lallan,Pal,22.0,7.68,Female,Badminton,Patna,2015
31,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,Badminton,Pune,2017
32,2201155,Manali,Prayag,Petare,21.0,7.90,Female,Football,Sangli,2017
33,2201116,Ankita,Tanaji,Madane,22.0,7.00,Female,Cricket,Karad,2017
34,2201152,Yash,Rajgonda,Patil,21.0,7.21,Male,Cricket,Kolhapur,2017
35,2201139,Apeksha,D,Nimje,21.0,8.00,Female,Basketball,Nagpur,2017
36,2201206,Saurabh,Sanjay,Zute,22.0,7.50,Male,Cricket,Parbhani,2016
37,2201200,Kshitij,Kishor,Wani,22.0,7.60,Male,Cricket,Nagpur,2015
38,2201123,Sandesh,Sudhir,Manohar,22.0,7.54,Male,Football,Mumbai,2016
39,2201158,Suyog,Bapurao,Raut,22.0,7.67,Male,Cricket,Pune,2017
40,2201104,Prerna,Nitin,Kukade,21.0,7.40,Female,Badminton,Pune,2017
41,220143,Sakshi,Santosh,Patidar,22.0,10.00,Female,Cricket,Durg,2015
42,2201205,Jyoti,.,Yadav,22.0,8.14,Female,Cricket,Alwar,2012
43,2201117,Nilesh,Prakash,Mahajan,22.0,7.56,Male,Badminton,Wadgaon,2017
44,2201166,Pranav,Pravin,Sarkale,21.0,7.96,Male,Carrom,Pune,2017
45,2201167,Raj,Rajendra,Kumar,22.0,9.60,Male,Cricket,Pune,2016
46,2201157,Nikhil,Ashok,Rande,22.0,7.00,Male,Kabaddi,Akot,2016
47,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,2201194,Shraddha,Jaiprakash,Varma,22.0,7.89,Female,Badminton,Wani,2017
49,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [88]:
df.drop('टाइमस्टँप',axis=1,inplace=True)

KeyError: "['टाइमस्टँप'] not found in axis"

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.count()

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df['sgpa'].mean()

In [ ]:
df['sgpa'].max()

In [ ]:
df['sgpa'].sum()

In [ ]:
df['name'].str.upper()

In [89]:
df['name'].str.lower()

0       shubham
1        pranav
2        pratik
3        ranvir
4      siddhesh
5        sairaj
6         rahul
7         akash
8         harsh
9         omkar
10      prajwal
11        tejas
12      vaibhav
13       gaurav
14      sindura
15       hitesh
16      janhavi
17          raj
18       manish
19       muskan
20     ashutosh
21        vivek
22     sharvari
23        leena
24       vedika
25      atharva
26     himanshi
27     harshita
28        aditi
29      akshata
30       mahima
31    aishwarya
32       manali
33       ankita
34         yash
35      apeksha
36      saurabh
37      kshitij
38      sandesh
39        suyog
40       prerna
41       sakshi
42        jyoti
43       nilesh
44       pranav
45          raj
46       nikhil
47    ‎ shubham
48     shraddha
49        priya
50      swapnil
Name: name, dtype: object

In [90]:
df['name'].str.title()

0       Shubham
1        Pranav
2        Pratik
3        Ranvir
4      Siddhesh
5        Sairaj
6         Rahul
7         Akash
8         Harsh
9         Omkar
10      Prajwal
11        Tejas
12      Vaibhav
13       Gaurav
14      Sindura
15       Hitesh
16      Janhavi
17          Raj
18       Manish
19       Muskan
20     Ashutosh
21        Vivek
22     Sharvari
23        Leena
24       Vedika
25      Atharva
26     Himanshi
27     Harshita
28        Aditi
29      Akshata
30       Mahima
31    Aishwarya
32       Manali
33       Ankita
34         Yash
35      Apeksha
36      Saurabh
37      Kshitij
38      Sandesh
39        Suyog
40       Prerna
41       Sakshi
42        Jyoti
43       Nilesh
44       Pranav
45          Raj
46       Nikhil
47    ‎ Shubham
48     Shraddha
49        Priya
50      Swapnil
Name: name, dtype: object

In [91]:
df['name'].str.strip()

0       Shubham
1        Pranav
2        Pratik
3        Ranvir
4      Siddhesh
5        Sairaj
6         Rahul
7         Akash
8         Harsh
9         Omkar
10      Prajwal
11        Tejas
12      Vaibhav
13       Gaurav
14      Sindura
15       Hitesh
16      Janhavi
17          Raj
18       Manish
19       Muskan
20     Ashutosh
21        Vivek
22     Sharvari
23        Leena
24       Vedika
25      Atharva
26     Himanshi
27     Harshita
28        Aditi
29      Akshata
30       Mahima
31    Aishwarya
32       Manali
33       Ankita
34         Yash
35      Apeksha
36      Saurabh
37      Kshitij
38      Sandesh
39        Suyog
40       Prerna
41       Sakshi
42        Jyoti
43       Nilesh
44       Pranav
45          Raj
46       Nikhil
47    ‎ Shubham
48     Shraddha
49        Priya
50      Swapnil
Name: name, dtype: object

In [92]:
df['name'] = df['name'].str.strip()
df['middlename'] = df['middlename'].str.strip()
df['surname'] = df['surname'].str.strip()
df['favorite_sport'] = df['favorite_sport'].str.strip()
df['native_city'] = df['native_city'].str.strip()

In [93]:
df['name'] = df['name'].str.title()
df['middlename'] = df['middlename'].str.title()
df['surname'] = df['surname'].str.title()
df['favorite_sport'] = df['favorite_sport'].str.title()
df['native_city'] = df['native_city'].str.title()

In [94]:
df

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,2201125,Pratik,Sharad,Masalkar,22.0,8.31,Male,Badminton,Pune,2017
3,2201154,Ranvir,Gajanan,Pawar,22.0,8.00,Male,Chess,Buldana,2014
4,2201193,Siddhesh,Suresh,Uttekar,21.0,8.40,Male,Cricket,Pune,2016
5,2201115,Sairaj,Shirish,Lumpatki,20.0,8.71,Male,Volleyball,Ahmednagar,2017
6,2201110,Rahul,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,2201124,Akash,Sambhaji,Markile,22.0,7.79,Male,Cricket,Latur,2016
8,2201145,Harsh,Subhash,Patidar,22.0,8.00,Male,Volleyball,Indore,2016
9,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
10,2201171,Prajwal,Pramod,Shendge,21.0,7.90,Male,Cricket,Miraj,2018
11,2201121,Tejas,Uttareshwar,Mane,22.0,7.85,Male,Cricket,Baramati,2016
12,2201159,Vaibhav,Kailas,Raut,22.0,7.00,Male,Table Tennis,Beed,2016
13,2201173,Gaurav,Mohan,Shimpi,22.0,8.90,Male,Cricket,Shahada,2017
14,2201182,Sindura,Singh,Rathore,23.0,8.10,Female,Cricket,Muzzafarpur,2017
15,2201130,Hitesh,Dnyaneshwar,Mohadikar,22.0,8.25,Male,Cricket,Nagpur,2017
16,2201163,Janhavi,Ajit,Sangaonkar,22.0,8.75,Female,Badminton,Kolhapur,2017
17,2201195,Raj,,Verma,23.0,7.71,Male,Cricket,Jamshedpur,2017
18,2201187,Manish,Maruti,Teke,22.0,8.46,Male,Cricket,Pune,2016
19,1951022,Muskan,Shabbir,Shipai,21.0,8.05,Female,Cricket,Pune,2017
20,2201164,Ashutosh,Ghansham,Saoji,23.0,7.54,Male,Cricket,Akola,2017
21,2201133,Vivek,Yeshavnt,More,21.0,7.60,Male,Table Tennis,Kolhapur,2017
22,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,Cricket,Karad,2016
23,2201190,Leena,Sanjay,Thorat,22.0,7.89,Female,Badminton,Shirdi,2017
24,2201085,Vedika,Gorakshanth,Kandekar,22.0,8.89,Female,-,Ahmednagar,2017
25,2201144,Atharva,Jayant,Paradkar,23.0,7.64,Male,Football,Pune,2016
26,2201196,Himanshi,,Vyas,22.0,8.80,Female,Cricket,Indore,2017
27,220126,Harshita,,Maurya,21.0,8.61,Female,Vollyball,Pune,2017
28,2201146,Aditi,Pandurang,Patil,21.0,8.00,Female,Football,Ahmednagar,2017
29,2201188,Akshata,Vijay,Thakre,22.0,7.50,Female,Cricket,Pune,2017
30,2201141,Mahima,Lallan,Pal,22.0,7.68,Female,Badminton,Patna,2015
31,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,Badminton,Pune,2017
32,2201155,Manali,Prayag,Petare,21.0,7.90,Female,Football,Sangli,2017
33,2201116,Ankita,Tanaji,Madane,22.0,7.00,Female,Cricket,Karad,2017
34,2201152,Yash,Rajgonda,Patil,21.0,7.21,Male,Cricket,Kolhapur,2017
35,2201139,Apeksha,D,Nimje,21.0,8.00,Female,Basketball,Nagpur,2017
36,2201206,Saurabh,Sanjay,Zute,22.0,7.50,Male,Cricket,Parbhani,2016
37,2201200,Kshitij,Kishor,Wani,22.0,7.60,Male,Cricket,Nagpur,2015
38,2201123,Sandesh,Sudhir,Manohar,22.0,7.54,Male,Football,Mumbai,2016
39,2201158,Suyog,Bapurao,Raut,22.0,7.67,Male,Cricket,Pune,2017
40,2201104,Prerna,Nitin,Kukade,21.0,7.40,Female,Badminton,Pune,2017
41,220143,Sakshi,Santosh,Patidar,22.0,10.00,Female,Cricket,Durg,2015
42,2201205,Jyoti,.,Yadav,22.0,8.14,Female,Cricket,Alwar,2012
43,2201117,Nilesh,Prakash,Mahajan,22.0,7.56,Male,Badminton,Wadgaon,2017
44,2201166,Pranav,Pravin,Sarkale,21.0,7.96,Male,Carrom,Pune,2017
45,2201167,Raj,Rajendra,Kumar,22.0,9.60,Male,Cricket,Pune,2016
46,2201157,Nikhil,Ashok,Rande,22.0,7.00,Male,Kabaddi,Akot,2016
47,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,2201194,Shraddha,Jaiprakash,Varma,22.0,7.89,Female,Badminton,Wani,2017
49,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [95]:
False + True

1

In [96]:
True + True

2

In [97]:
df.isnull().sum()

roll_num                0
name                    0
middlename              0
surname                 0
age                     0
sgpa                    0
gender                  0
favorite_sport          0
native_city             0
year_of_passing_10th    0
dtype: int64

In [98]:
df['age'] = df['age'].fillna(df['age'].median())

In [99]:
df

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,2201125,Pratik,Sharad,Masalkar,22.0,8.31,Male,Badminton,Pune,2017
3,2201154,Ranvir,Gajanan,Pawar,22.0,8.00,Male,Chess,Buldana,2014
4,2201193,Siddhesh,Suresh,Uttekar,21.0,8.40,Male,Cricket,Pune,2016
5,2201115,Sairaj,Shirish,Lumpatki,20.0,8.71,Male,Volleyball,Ahmednagar,2017
6,2201110,Rahul,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,2201124,Akash,Sambhaji,Markile,22.0,7.79,Male,Cricket,Latur,2016
8,2201145,Harsh,Subhash,Patidar,22.0,8.00,Male,Volleyball,Indore,2016
9,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
10,2201171,Prajwal,Pramod,Shendge,21.0,7.90,Male,Cricket,Miraj,2018
11,2201121,Tejas,Uttareshwar,Mane,22.0,7.85,Male,Cricket,Baramati,2016
12,2201159,Vaibhav,Kailas,Raut,22.0,7.00,Male,Table Tennis,Beed,2016
13,2201173,Gaurav,Mohan,Shimpi,22.0,8.90,Male,Cricket,Shahada,2017
14,2201182,Sindura,Singh,Rathore,23.0,8.10,Female,Cricket,Muzzafarpur,2017
15,2201130,Hitesh,Dnyaneshwar,Mohadikar,22.0,8.25,Male,Cricket,Nagpur,2017
16,2201163,Janhavi,Ajit,Sangaonkar,22.0,8.75,Female,Badminton,Kolhapur,2017
17,2201195,Raj,,Verma,23.0,7.71,Male,Cricket,Jamshedpur,2017
18,2201187,Manish,Maruti,Teke,22.0,8.46,Male,Cricket,Pune,2016
19,1951022,Muskan,Shabbir,Shipai,21.0,8.05,Female,Cricket,Pune,2017
20,2201164,Ashutosh,Ghansham,Saoji,23.0,7.54,Male,Cricket,Akola,2017
21,2201133,Vivek,Yeshavnt,More,21.0,7.60,Male,Table Tennis,Kolhapur,2017
22,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,Cricket,Karad,2016
23,2201190,Leena,Sanjay,Thorat,22.0,7.89,Female,Badminton,Shirdi,2017
24,2201085,Vedika,Gorakshanth,Kandekar,22.0,8.89,Female,-,Ahmednagar,2017
25,2201144,Atharva,Jayant,Paradkar,23.0,7.64,Male,Football,Pune,2016
26,2201196,Himanshi,,Vyas,22.0,8.80,Female,Cricket,Indore,2017
27,220126,Harshita,,Maurya,21.0,8.61,Female,Vollyball,Pune,2017
28,2201146,Aditi,Pandurang,Patil,21.0,8.00,Female,Football,Ahmednagar,2017
29,2201188,Akshata,Vijay,Thakre,22.0,7.50,Female,Cricket,Pune,2017
30,2201141,Mahima,Lallan,Pal,22.0,7.68,Female,Badminton,Patna,2015
31,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,Badminton,Pune,2017
32,2201155,Manali,Prayag,Petare,21.0,7.90,Female,Football,Sangli,2017
33,2201116,Ankita,Tanaji,Madane,22.0,7.00,Female,Cricket,Karad,2017
34,2201152,Yash,Rajgonda,Patil,21.0,7.21,Male,Cricket,Kolhapur,2017
35,2201139,Apeksha,D,Nimje,21.0,8.00,Female,Basketball,Nagpur,2017
36,2201206,Saurabh,Sanjay,Zute,22.0,7.50,Male,Cricket,Parbhani,2016
37,2201200,Kshitij,Kishor,Wani,22.0,7.60,Male,Cricket,Nagpur,2015
38,2201123,Sandesh,Sudhir,Manohar,22.0,7.54,Male,Football,Mumbai,2016
39,2201158,Suyog,Bapurao,Raut,22.0,7.67,Male,Cricket,Pune,2017
40,2201104,Prerna,Nitin,Kukade,21.0,7.40,Female,Badminton,Pune,2017
41,220143,Sakshi,Santosh,Patidar,22.0,10.00,Female,Cricket,Durg,2015
42,2201205,Jyoti,.,Yadav,22.0,8.14,Female,Cricket,Alwar,2012
43,2201117,Nilesh,Prakash,Mahajan,22.0,7.56,Male,Badminton,Wadgaon,2017
44,2201166,Pranav,Pravin,Sarkale,21.0,7.96,Male,Carrom,Pune,2017
45,2201167,Raj,Rajendra,Kumar,22.0,9.60,Male,Cricket,Pune,2016
46,2201157,Nikhil,Ashok,Rande,22.0,7.00,Male,Kabaddi,Akot,2016
47,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,2201194,Shraddha,Jaiprakash,Varma,22.0,7.89,Female,Badminton,Wani,2017
49,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [100]:
df.isnull().sum()

roll_num                0
name                    0
middlename              0
surname                 0
age                     0
sgpa                    0
gender                  0
favorite_sport          0
native_city             0
year_of_passing_10th    0
dtype: int64

### BOOLEAN FILTERING

In [101]:
df['sgpa'] > 0

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
45    True
46    True
47    True
48    True
49    True
50    True
Name: sgpa, dtype: bool

In [102]:
df[df['sgpa']>10]

Empty DataFrame
Columns: [roll_num, name, middlename, surname, age, sgpa, gender, favorite_sport, native_city, year_of_passing_10th]
Index: []

In [103]:
df.loc[29,'sgpa'] = 7.5

In [104]:
df.loc[29,:]

roll_num                2201188
name                    Akshata
middlename                Vijay
surname                  Thakre
age                        22.0
sgpa                        7.5
gender                   Female
favorite_sport          Cricket
native_city                Pune
year_of_passing_10th       2017
Name: 29, dtype: object

In [105]:
df['sgpa'].min(), df['sgpa'].max()

(7.0, 10.0)

In [106]:
df[df['sgpa']>9]

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
9,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
31,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,Badminton,Pune,2017
41,220143,Sakshi,Santosh,Patidar,22.0,10.00,Female,Cricket,Durg,2015
45,2201167,Raj,Rajendra,Kumar,22.0,9.60,Male,Cricket,Pune,2016
47,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017

In [107]:
df['favorite_sport'].value_counts()

favorite_sport
Cricket               24
Badminton             10
Football               4
Volleyball             2
Table Tennis           2
Cricket , Football     1
Chess                  1
Sachin Tendulkar       1
-                      1
Vollyball              1
Basketball             1
Carrom                 1
Kabaddi                1
‎ Cricket              1
Name: count, dtype: int64

In [108]:
df[(df['gender']=='Female') & (df['favorite_sport']=='Cricket')]

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
14,2201182,Sindura,Singh,Rathore,23.0,8.10,Female,Cricket,Muzzafarpur,2017
19,1951022,Muskan,Shabbir,Shipai,21.0,8.05,Female,Cricket,Pune,2017
22,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,Cricket,Karad,2016
26,2201196,Himanshi,,Vyas,22.0,8.80,Female,Cricket,Indore,2017
29,2201188,Akshata,Vijay,Thakre,22.0,7.50,Female,Cricket,Pune,2017
33,2201116,Ankita,Tanaji,Madane,22.0,7.00,Female,Cricket,Karad,2017
41,220143,Sakshi,Santosh,Patidar,22.0,10.00,Female,Cricket,Durg,2015
42,2201205,Jyoti,.,Yadav,22.0,8.14,Female,Cricket,Alwar,2012

In [109]:
df[df['year_of_passing_10th'] == 2015].count()

roll_num                4
name                    4
middlename              4
surname                 4
age                     4
sgpa                    4
gender                  4
favorite_sport          4
native_city             4
year_of_passing_10th    4
dtype: int64

In [110]:
df[df['year_of_passing_10th'] == 2015]['name'].count()

4

In [111]:
x.to_csv('output.csv', index=False)